.main {
  scroll-behavior: smooth;
}

.heroWrapper {
  position: relative;
  width: 100vw;
  height: 90vh;
}

.imageWrapper {
  z-index: -1;
}

.heroContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 2560px) {
  .heroWrapper {
    height: 150vh;
  }
}
